body {
    padding: 0;
    margin: 0;
    font-family: verdana;
}
 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(#3887BE,#38419D);
}
 
h1 {
    color: #0d1894;
    text-align: center;
}
 
.digit {
    font-size: 150px;
    color: #fff;
}
 
.txt {
    font-size: 30px;
    color: #fffcd6;
}
 
#buttons {
    margin-top: 50px;
}
 
.btn {
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: white;
    font-weight: 500;
}
 
#start {
    background-color: #009779;
}
#start:hover {
    background-color: #02896e;
}
#stop {
    background-color: #0e85fc;
}
#stop:hover {
    background-color: #0376ea;
}
#reset {
    background-color: #d91a05;
}
#reset:hover{
    background-color: #bc1603;
}